<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>blog</title>
    <style type=text/css>
        {% load static %}
        p1 {
  			font-family: "Times New Roman", Times, serif;
  			color: black;
  			font-size: 18px;
		}
        body {
            background-image: url("{% static 'image7_d.jpg' %}");
            background-size: cover; /* Adjust the size as needed */
            background-repeat: no-repeat;
        }

		}
	</style>
</head>
<body>
    <p>

    </p>
      {{my_value}}
</body>
</html>
